# DEPRECATED:
# This Jenkins check is deprecated and not actively developed anymore. It will be
# removed in a future version of the StackState Agent. Please move to using the StackState
# plugin for Jenkins.init_config:

instances:
  - name: default
    jenkins_home: /var/lib/jenkins
