init_config:
  default_timeout: 10

instances:
  - url: "https://dev12406.service-now.com"
    basic_auth:
      user: stackstate
      password: STACKSTATE!
    # tags:
    #      - optional_tag1
    #      - optional_tag2