# Splunk topology intake uses basic authentication

init_config:
  # time before a HTTP request times out
  default_request_timeout_seconds: 10

  # a search on a saved search does not immediately return results, one has to retry until data is received,
  # search_max_retry_count specifies the number of retries in which it expects results to be available.
  # Between each retry some time is waited before retrying, specified by search_seconds_between_retries.
  default_search_max_retry_count: 5
  default_search_seconds_between_retries: 1

  # The amount of time (in seconds) to go in the past for an initial query when the agent starts up.
  # Warning: can cause events to be reported twice if the agent is start/stopped
  # initial_history_time: 300

# Currently it is not possible to specify multiple instances with the same url.
# It is possible to specify multiple saved_searches on a single instance.
instances:
  - url: "http://localhost:13001"
    username: "admin"
    password: "admin"
    saved_searches:
      # Splunk name of the saved search
      - name: "events"
        # request_timeout_seconds: 10
        # search_max_retry_count: 5
        # search_seconds_between_retries: 1

        # The amount of time (in seconds) to go in the past for an initial query when the agent starts up.
        # Warning: can cause events to be reported twice if the agent is start/stopped
        # initial_history_time: 300

        # Additional parameters for the splunk saved search query
        parameters:
          # These parameters make sure the query refreshes.
          force_dispatch: true
          dispatch.now: true

    # tags:
    #      - optional_tag1
    #      - optional_tag2