# Splunk topology intake uses basic authentication

init_config:
  default_request_timeout_seconds: 10
  max_retry_count: 5
  seconds_between_retries: 1

  # Polling interval between calls to splunk
  default_polling_interval_seconds: 15

instances:
  - url: "http://localhost:13001"
    username: "admin"
    password: "admin"
    saved_searches:
      - name: "components"
        element_type: "component"
        # Additional parameters for the splunk saved search query
        parameters:
          - force_dispatch: true
            dispatch.now: true
      #- name: "relations"
      #  element_type: "relation"
      #  parameters:
      #    - force_dispatch: true
      #      dispatch.now: true

    # tags:
    #      - optional_tag1
    #      - optional_tag2